@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.glass{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.015);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.12);
  }

  .nonRound{ border-radius: 0px !important; -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; -ms-border-radius: 0px !important; -o-border-radius: 0px !important;
}

.myBorder{
border: 1px solid #db287a !important;
}
my-2Border{
    border-left: 1px solid #db287a !important;
    border-right: 1px solid #031023 !important;
    }
.glass-basic{
    /* From https://css.glass */
background: #db28795b ;
/* border-radius: 16px; */
box-shadow: 0 4px 30px #db287982;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
  }
  .fontStyle{
    font-family: "Style Script", cursive !important;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .floating{
    animation: float 6s ease-in-out infinite;
  }